.auto-scroll-wrapper {
  display: flex;
  flex-direction: column;
  animation: auto-scroll 20s linear infinite;
}

.auto-scroll-wrapper:hover {
  animation-play-state: paused;
}

.auto-scroll-content {
  flex-shrink: 0;
  padding-bottom: 1rem;
}

@keyframes auto-scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}
